<!doctype html>
<html lang="en">
  <head>
 {{>headerLinks}}
 </head>
  <body>
 {{>navbar}}


   <!-- main header  -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div  -->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img src="images/weather bg2.svg "  alt="fahad" class="img-fluid" title="Fahad Khan">
              </figure>
              </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Fahad Weather app</p>
              <h1>I am a <span class="text_clr">MERN stack developer</span> a freelancer and a YouTuber</h1>
              <a href="http://www.codewithharry.com" target="fahad"><button>About Me</button></a>
            </div>
            </div>
            </div>
            </div>
            </div>
          

            <!-- right side div  -->
            





   
          <!-- footer code  -->
         {{>footer}}
  </body>
</html>